<!DOCTYPE html>
<html lang="en">

<%-include('partials/header.ejs') %>

    <body>
        <%- include("partials/navbar.ejs") %>

            <div class="container">
                <h1>Welcome to the Spoon Recipe Finder!</h1>
                <p>Use this application to find delicious recipes by name or by the ingredients you have.</p>

                <h2>Search by Recipe Name</h2>
                <form action="/searchByName" method="GET">
                    <input type="text" id="searchInput" name="search" placeholder="e.g., Pasta Carbonara">
                    <button type="submit">Search</button>
                </form>

                <h2>Search by Ingredients</h2>
                <form action="/searchByIngredients" method="GET">
                    <input type="text" id="ingredients" name="ingredients" placeholder="e.g., flour, sugar, eggs">
                    <button type="submit">Search</button>
                </form>                
            </div>

            <%- include('partials/footer.ejs') %>
    </body>

</html>