<!DOCTYPE html>
<html lang="en">
    
<%-include('partials/header.ejs') %>

    <body>
        <%- include("partials/navbar.ejs") %>

            <div class="container">
                <h1>Get a Random Recipe!</h1>
                <p>Not sure what to cook? Click the button below for a surprise recipe.</p>
                <button type="button" class="btn btn-random">
                    Find a Random Recipe
                </button>
            </div>

            <%- include('partials/footer.ejs') %>

        <script>
            document.querySelector("button").addEventListener("click", async () => {
                const response = await fetch(`/api/random-recipe`);
                const data = await response.json();
                if (data.recipes && data.recipes.length > 0) {
                    const recipeId = data.recipes[0].id;
                    window.location.href = `/recipe/${recipeId}`;
                } else {
                    alert("Could not find a random recipe. Please try again!");
                }
            });
        </script>
    </body>
    

</html>